@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Bowlby One", sans-serif;
  --font-body: "Montserrat", sans-serif;
  --font-label: "Montserrat", sans-serif;

  --color-primary: #006689;
  --color-primary-container: #4da8d4;
  --color-on-primary-container: #003a50;
  --color-secondary: #516071;
  --color-tertiary: #b7221b;
  --color-tertiary-container: #ff7362;
  --color-error: #ba1a1a;
  --color-background: #f7f9ff;
  --color-on-background: #091d2e;
  --color-surface: #f7f9ff;
  --color-on-surface: #091d2e;
  --color-surface-variant: #d1e4fb;
  --color-on-surface-variant: #3f484e;
  --color-outline: #6f787f;
  --color-outline-variant: #bec8cf;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #edf4ff;
  --color-surface-container: #e3efff;
  --color-surface-container-high: #d9eaff;
  --color-coral: #F24E3F;
  --color-navy-night: #1C2B3A;
}

@layer utilities {
  .blueprint-grid {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgba(61, 143, 181, 0.1) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(61, 143, 181, 0.1) 1px, transparent 1px);
  }
  .ghost-border {
    border: 1px solid rgba(190, 200, 207, 0.15);
  }
  .crisp-image {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
}
